<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>
        
            Events attended (Summer schools, Networking events, Workshops)
                
    </title>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Events attended (Summer schools, Networking events, Workshops)" />
    <meta name="author" content="Sid Rao">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" />
    <!-- Alternates -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- JavaScripts -->
    <script src="/javascript/jquery-1.7.2.min.js"></script>
    <script src="/javascript/lightbox.js"></script>
</head>

<body>
    <div class="container">
        
            <header class="site clearfix">
                <a href="/"><img src="/images/home.png" alt="Sid Rao"></a>
                <h1>Events attended (Summer schools, Networking events, Workshops)</h1>
            </header>
            
                
               
                <div class="clearfix">
                    <!-- <h4>Technical events</h4> -->
<!-- <div class="two-thirds column"> -->
<!-- <h4>Other events</h4>
<table>
	<% items.select{|i| i.identifier =~ /\/enteves\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}.each do |essay| %>
		<tr>
			<th style="width: 140px">
				<h2 style="font-size: 12pt;"><a href="<%= essay.identifier %>"><%= essay.attributes[:title] %></a></h2>
				<div class="date"><%= essay.attributes[:date] %></div>
			</th>
			<td align="justify"
				<p><%= essay.attributes[:lede] %></p> -->
<!-- <p><a href="<%= essay.identifier %>">Continue reading&hellip;</a></p> -->
<!-- </td>
		</tr>
	<% end %>
	</table> -->
<table>
    <tr>
        <th style="width: 140px">
            <b style="font-size: 12pt;">ASCI 2016</b>
            <div class="tabdate">2016-06-27</div>
        </th>
        <td align="justify">
            <strong><a href="http://asci.aalto.fi/en/project_funding/big_data/summer_school/">Summer School on Algebra, Statistics and Combinatorics</a></strong> (<i>Helsinki, Finland</i>)
            <br> The ASCI summer school was organized by Department of Mathematics and Systems Analysis, Aalto University - Finland. It included discussions with academic experts on specific research topics such as Algebraic graph limits, Combinatorics and algebra of low-rank matrix completion, Semialgebraic statistics and latent tree models, and The geometry of the nonnegative and positive semidefinite rank.
        </td>
    </tr>

    <tr>
        <th style="width: 140px">
            <b style="font-size: 12pt;">BIU</b>
            <div class="tabdate">2014,15,16,17</div>
        </th>
        <td align="justify">
            <strong><a href="http://asci.aalto.fi/en/project_funding/big_data/summer_school/">Bar-Ilan winter schools on Cryptography</a></strong> (<i>Tel-aviv, Israel</i>)
            <br> The 4th winter school was focused on symmetric encryption in theory and in practice. It included a study of the theoretical foundations of symmetric encryption on the one hand, and practical constructions and cryptanalysis on the other hand. It also included the advanced constructions like tweakable block ciphers, format preserving encryption, disk encryption and advanced types of authenticated encryption. The advanced and recent attacks on symmetric encryption in SSL/TLS, IPsec, SSH, etc. provided a broad basis for all participants.
            <br>
            <br> The 5th winter school was focused on secure multiparty computation (SMC) and its requirements - privacy, correctness and independence of inputs. It also delt with applications of SMC such as electronic voting, electronic auctions, electronic cash schemes, anonymous transactions, and private information retrieval schemes.
            <br>
            <br> The 6th winter school was focused on Verifiable Computation and Special Encryption. The school covered many interesting topics such as format-preserving, order-preserving encryption and practical searchable encryption. It was co-located with Theory of Cryptography Conference (TCC).
        </td>
    </tr>

    <tr>
        <th style="width: 140px">
            <b style="font-size: 12pt;">BTC School 2016</b>
            <div class="tabdate">2016-05-30</div>
        </th>
        <td align="justify">
            <strong><a href="https://bitcoinschool.gr/">IACR Summer School on Blockchain Technologies</a></strong> (<i>Corfu Islands, Greece</i>)
            <br> First summer school on blockchains and cryptocurrencies included variety of topics ranging from the overview of Bitcoins, Consensus, Mining to anonimity, decentralization and regulations of cryptocurrencies. The addendum of the event - <a href="https://www.cosic.esat.kuleuven.be/ecrypt/csa/cryptocurrencies/index.shtml">ECRYPT CSA Workshop on Cryptocurrencies</a> (<i>Athens, Greece</i>), included several interesting research being carried out beyond academia.
        </td>
    </tr>

    <tr>
        <th style="width: 140px">
            <b style="font-size: 12pt;">CySeP 2015</b>
            <div class="tabdate">2015-10-19</div>
        </th>
        <td align="justify">
            <strong><a href="https://people.kth.se/~papadim/cysep/">Cyber Security and Privacy Winter School</a></strong> (<i>Stockholm, Sweden</i>)
            <br> The Cyber Security and Privacy (CySeP) Winter School was a three and a half days of seminars, tutorials, discussions, and posters/demos sessions. It reflected and elaborated on how to best go from research and teaching to solving real-world problems. Prominent experts from academia and industry addressed a set of diverse topics, presented their own rich experiences, and provide focused state-of-the-art knowledge on key security and privacy technologies. The poster/demo session showcased latest achievements and proposals for addressing important security and privacy challenges.
        </td>
    </tr>


    <tr>
        <th style="width: 140px">
            <b style="font-size: 12pt;">IS3C 2015</b>
            <div class="tabdate">2015-09-06</div>
        </th>
        <td align="justify">
            <strong><a href="http://isssc.tugraz.at/">International Summer School on Smart Cars</a></strong> (<i>Graz, Austria</i>)
            <br> The goal of this one-week summer school was to survey fundamental and applied aspects of embedded automotive computing and networking for Smart Cars, as well as to identify novel opportunities and research directions in related areas through a series of lectures held by international experts. Participants learned various relevant technologies during hands-on courses and were given a chance to present their own work during seminar modules.
        </td>
    </tr>

</table>


                </div>
                <hr style="border-bottom: 4px solid #BDD74B;">
                <nav class="clearfix">
                    <a href="/" style="padding-left: 30px;">home</a>
                    <a href="/pages/about/">about</a>
                    <a href="/pages/work/">work</a>
                    <a href="/pages/publications/">publications</a>
                    <a href="/pages/projects/">projects</a>
                    <a href="/pages/courses/">courses</a>
                    <a href="/pages/events/">events</a>
                    <a href="/pages/teaching/">teaching</a>
                    <a href="/pages/resources/">resources</a>
                </nav>
    </div>
</body>

</html>
